@model AgenciaViagem.Models.ContatoCliente

@{
    ViewData["Title"] = "Contato";
}

<head>
    <link rel="stylesheet" href="~/css/compra.css">
    <link rel="stylesheet" href="~/css/contato.css">
</head>
<div id="container-contato">
    <div id="chamada-contato">
        <h1>Contate-nos para qualquer dúvida</h1>
        <h3>Nossa agência está <strong>24h disponível</strong> para seu atendimento</h3>
    </div>
    <div id="chamada-contato-b">
        <p>Preencha o formulário, inserindo seus dados e suas dúvidas e estaremos entrando em contato.</p>
    </div>
</div>
<main id="container-compra">
    <h1>Contato</h1>
    <div id="container-cadastro">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <fieldset>
                <div class="campo-field">
                    <label asp-for="nome_contato">Nome</label>
                    <input asp-for="nome_contato" />
                    <span asp-validation-for="nome_contato"></span>
                </div>
                <div class="campo-field">
                    <label asp-for="sobrenome_contato">Sobrenome</label>
                    <input asp-for="sobrenome_contato" />
                    <span asp-validation-for="sobrenome_contato"></span>
                </div>
            </fieldset>
            <div class="campo-field">
                <label asp-for="telefone_contato">Telefone</label>
                <input asp-for="telefone_contato" />
                <span asp-validation-for="telefone_contato"></span>
            </div>
            <div class="campo-field">
                <label asp-for="cidade_contato">Cidade</label>
                <input asp-for="cidade_contato" />
                <span asp-validation-for="cidade_contato"></span>
            </div>
            <div class="campo-field">
                <label asp-for="regiao_contato">Região</label>
                <input asp-for="regiao_contato" />
                <span asp-validation-for="regiao_contato"></span>
            </div>
            <div class="campo-field">
                <label asp-for="email_contato">E-mail</label>
                <input asp-for="email_contato" />
                <span asp-validation-for="email_contato"></span>
            </div>
            <div class="campo-field">
                <label asp-for="motivo_contato">Motivo do contato</label>
                <input asp-for="motivo_contato" />
                <span asp-validation-for="motivo_contato"></span>
            </div>
            <div class="campo-field">
                <input type="submit" value="Enviar" id="btn" onclick="alert('Mensagem enviada com sucesso!')"/>
            </div>
        </form>
        <div>
            <a asp-action="Index">Listagem de contatos</a>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
