@{
    ViewData["Title"] = "Destinos";
}

<head>
    <link rel="stylesheet" href="~/css/destinos.css">
</head>

<section>
    <h3>Uma seleção com os melhores lugares do planeta para você aproveitar</h3>
    <p><strong>Garanta</strong> já sua passagem hoje!</p>
</section>
<main class="container-destino">
    <div class="dest-viagem">
        <div class="div-img-flor">
            <img src="/imagens/flores coloridas-p.jpg" alt="Cidade com flores">
        </div>
        <h4>Cidade</h4>
        <p>As melhores vistas estão aqui. A melhor região para sair, descansar e poder aproveitar. Compre ainda hoje!</p>
        <p class="valor-destino"><a asp-action="Create" asp-controller="CompraClientes" style="color:white">R$1.367,99</a></p>
    </div>
    <div class="dest-viagem">
        <div class="div-img-flor">
            <img src="/imagens/flores coloridas-p.jpg" alt="Cidade com flores">
        </div>
        <h4>Cidade</h4>
        <p>As melhores vistas estão aqui. A melhor região para sair, descansar e poder aproveitar. Compre ainda hoje!</p>
        <p class="valor-destino"><a asp-action="Create" asp-controller="CompraClientes" style="color:white">R$1.367,99</a></p>
    </div>
    <div class="dest-viagem">
        <div class="div-img-flor">
            <img src="/imagens/flores coloridas-p.jpg" alt="Cidade com flores">
        </div>
        <h4>Cidade</h4>
        <p>As melhores vistas estão aqui. A melhor região para sair, descansar e poder aproveitar. Compre ainda hoje!</p>
        <p class="valor-destino"><a asp-action="Create" asp-controller="CompraClientes" style="color:white">R$1.367,99</a></p>
    </div>
    <div class="dest-viagem">
        <div class="div-img-flor">
            <img src="/imagens/flores coloridas-p.jpg" alt="Cidade com flores">
        </div>
        <h4>Cidade</h4>
        <p>As melhores vistas estão aqui. A melhor região para sair, descansar e poder aproveitar. Compre ainda hoje!</p>
        <p class="valor-destino"><a asp-action="Create" asp-controller="CompraClientes" style="color:white">R$1.367,99</a></p>
    </div>
    <div class="dest-viagem">
        <div class="div-img-flor">
            <img src="/imagens/flores coloridas-p.jpg" alt="Cidade com flores">
        </div>
        <h4>Cidade</h4>
        <p>As melhores vistas estão aqui. A melhor região para sair, descansar e poder aproveitar. Compre ainda hoje!</p>
        <p class="valor-destino"><a asp-action="Create" asp-controller="CompraClientes" style="color:white">R$1.367,99</a></p>
    </div>
    <div class="dest-viagem">
        <div class="div-img-flor">
            <img src="/imagens/flores coloridas-p.jpg" alt="Cidade com flores">
        </div>
        <h4>Cidade</h4>
        <p>As melhores vistas estão aqui. A melhor região para sair, descansar e poder aproveitar. Compre ainda hoje!</p>
        <p class="valor-destino"><a asp-action="Create" asp-controller="CompraClientes" style="color:white">R$1.367,99</a></p>
    </div>
</main>